
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 920px;
    }

}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

h1, h2, h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 0px;
}

body {
    padding: 70px 0;
    background-color: #F3F1E5;
    font-family: "Open Sans", sans-serif;
}

.header,
.footer,
.box{
    position: relative;
}

.header{
    padding: 60px 0px;
}

.header h1{
    margin: 0px;
    font-family: 'Alex Brush', cursive;
    text-align: center;
    font-size: 9em;
    color: #B83229;
}

.footer{
    text-align: center;
}

.navbar-outer{
    max-width: 920px;
    margin: 0 auto;
}

.box{
    padding: 20px;
    height: 286px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.box.box-large{
    height: 592px;
    color: #FFFFFF;
}

.box.color-1{
    background-color: #B83229;
}
.box.color-2{
    background-color: #75B2B7;
}

.box.map{
    padding: 5px;
}

#email{
    position: absolute;
    left: -3000px;
}

.box.box-large.reply-form{
    background-color: #cccccc;
    padding: 15px;
    border: 5px solid #B83229;
    color: #222222;
}
.box.box-large.thanks{
    display: none;
    text-align: center;
}

.backdrop{
    z-index: -1024;
    position: absolute;
}

.backdrop.mirror{
    -ms-transform: scale(-1, 1); /* IE 9 */
    -webkit-transform: scale(-1, 1); /* Chrome, Safari, Opera */
    transform: scale(-1, 1);
}

.backdrop.flip{
    -ms-transform: scale(1, -1); /* IE 9 */
    -webkit-transform: scale(1, -1); /* Chrome, Safari, Opera */
    transform: scale(1, -1);
}

.backdrop.flip.mirror{
    -ms-transform: scale(-1, -1); /* IE 9 */
    -webkit-transform: scale(-1, -1); /* Chrome, Safari, Opera */
    transform: scale(-1, -1);
}

.backdrop.rot-15{
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

.backdrop.rot-30{
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.backdrop.rot-45{
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

